/*Selector {
    Property: value;
}*/

* {
    text-align: right;
}

body {
    background-image: url(images/tobias-kebernik-765183-unsplash.jpg);
    background-size: cover;
}

h2 {
    color: rgb(17, 15, 163);
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 0.8);
    cursor: pointer;
}

p {
    color: rgb(25, 28, 228);
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 140%;
    font-family: 'Poiret One', cursive;
    background-color: rgba(220,220,220,0.6)
}

img {
    float: left;
}

footer {
    color: greenyellow;
    clear: both;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext:first-child {
    border: 5px dashed blue;
}

.active {
    color: red;
}

#div1 {
   background: lightblue; 
}

#div2 {
    background: rgba(255,0,0,0.4); 
 }